#contenido{

	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}

/*creacion del codigo para el estilo de pagina*/

body{
background: white;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Franklin Gothic Book';
src: local('Franklin Gothic Book'), url('FRABK.woff') format('woff');
}

h1{
padding-top: 20px;
margin-left: 10px;
margin-top: 50px;
font-family: 'Franklin Gothic Book';
font-size: 60px;
font-style: normal;
font-weight: normal;
text-align: center;
word-spacing: 3px;
color:white;
src: local('Franklin Gothic Book'), url('FRABK.woff') format('woff');
}

header{
background: rgb(0,102,128);
width: 1000px;
height: 120px;
border-radius: 12px;
margin-bottom: 8px;
}

nav{
width: 1000px;
height: 60px;	
background: rgb(255,85,0);
border-radius: 50px;

}

ul{
margin: auto;
padding-top: 7px;
padding-left: 250px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(242,184,13) inset;
}

section{
	width: 700px;
	background: #e8e8e8;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}
aside{

	width: 280px;
	background: #C0C0C0;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	color: white;
}

footer{
width: 1000px;
height: 70px;
background: maroon;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
color: white;
text-align: center;
}



/*Clases*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: black; text-decoration: none; text-shadow: 0 0 13px black;}
.menu:active{color: white; text-decoration: none;}

.imagen1{
	width: 190px; 
	height: 150px;
	margin-top: 15px;
	border-radius: 10px;
	border-style: dotted;
	border-color: white;
}

.imagen1:hover {
    width: 200px;
    height: 160px;
    border-style: double;
    border-color: rgb(0,102,128);
}

















